[user]
    email = info@danmaq.com
    name = danmaq
    signkey = 389ED92A80F771A7328AA56C270E3E4CA01C7CD3
[core]
	autoCRLF = false
[color]
    ui = auto
[commit]
    gpgsign = true
[merge]
    ff = false
[fetch]
	prune = true
[pull]
    ff = only
    rebase = true
[alias]
	co = checkout
[http]
    postBuffer = 268435456
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

# git-browse-remote
# http://subtech.g.hatena.ne.jp/motemen/20120917/1347889804
[web]
    browser = google-chrome
[browse-remote "github.com"]
    top = https://{host}/{path}
    ref = https://{host}/{path}/tree/{short_ref}
    rev = https://{host}/{path}/commit/{commit}
